<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>2fa</title>
    </head>

    <body>

        <form action="{% url 'signins:2fa' %}" method="post">
            {% csrf_token %}

            {% if gen %}
				{% load static  %}
				<img src="{% static 'signins/tmp'  %}/{{ username }}/token_qr.png" height=200 width=200>
            {% endif %}

			<p>{{token}}</p>

			<input type="number" maxlength=6>
			<br><br>
            <input type="submit" name="cancal_2fa" value="Cancel">

            <input type="submit" name="verify_2fa" value="Verify">

        </form>

    </body>

</html>
