<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>2fa</title>
    </head>

    <body>
		<h1>Hmmmmmmmmmmm</h1>

        <form action="{% url 'signins:2fa' %}" method="post">
            {% csrf_token %}

			{% load static  %}
			<img src="{% static 'signins/tmp'  %}/{{ username }}/token_qr.png" height=200 width=200>

			<p>{{token}}</p>

			{% if error_message  %}
				<p>{{ error_message  }}</p>
			{% endif  %}
			<input type="number" maxlength=6 name="totp">
			<br><br>

			<p>Backup codes</p>
			<ul>
				{% for code in backup_codes %}
					<li>{{ code }}</li>
				{% endfor %}
			</ul>

			<input type="submit" name="cancel_2fa" value="Cancel">

			<input type="submit" name="verify_2fa" value="Verify">

        </form>

    </body>

</html>
