<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Success</title>

		<style>

			body {
				padding: 16px;
			}

		</style>

    </head>

    <body>

        <form action="{% url 'signins:change-password' %}" method="post">
            {% csrf_token %}

			{% if empty_password_error_message %}
                </p><strong>{{ empty_password_error_message }}</strong></p>
			{% elif passwords_dont_match_message %}
				</p><strong>{{ passwords_dont_match_message }}</strong></p>
            {% endif %}

			<input type="password" name="new_password">
			<br><br>

			<input type="password" name="repeat_new_password">
			<br><br>

			<input type="submit" name="cancel_new_password_button" value="Cancel">
			<input type="submit" name="change_password_button" value="Change">

		</form>

    </body>

</html>
