<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Success</title>
    </head>

    <body>

        <form action="{% url 'signins:changePassword' %}" method="post">
            {% csrf_token %}

			{% if empty_password %}
                </p><strong>{{ empty_password }}</strong></p>
            {% endif %}

            <input type="password" name="new_password">
            <input type="submit" name="cancel" value="Cancel">
            <input type="submit" name="change" value="Change">

        </form>

    </body>

</html>
