<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Delete Account</title>

		<style>

			body {
				padding: 16px;
			}

		</style>

    </head>

    <body>

        <form action="{% url 'signins:delete-account' %}" method="post">
            {% csrf_token %}

			{% if password_error_message %}
                </p><strong>{{ password_error_message }}</strong></p>
            {% elif incorrect_totp_message %}
                <p><strong>{{ incorrect_totp_message }}</strong></p>
            {% elif incorrect_backupcode_message %}
                <p></strong>{{ incorrect_backupcode_message }}</strong></p>
            {% endif %}


			<input type="password" name="password" placeholder="Enter your password">
			<br><br>


   	        {% if not enter_backup_code %}
		        <input type="number" id="totp_or_backupcode_Id" name="user_input_totp" placeholder="Enter TOTP">
	            <br><br>

	            <button type="button" onclick="change_input_method()" id="toggle_button_Id">Enter Backup Code instead</button>
	            <br><br>

            {% else %}

	            <input type="text" id="totp_or_backupcode_Id" name="user_input_backup_code" placeholder="Enter Backup Code">
	            <br><br>

				<button type="button" onclick="change_input_method()" id="toggle_button_Id">Enter TOTP instead</button>
       			<br><br>

            {% endif %}


			<input type="submit" name="cancel_deletion_button" value="Cancel">
			<input type="submit" name="confirm_deletion_button" value="Delete">

       	</form>

	    <script>
            function change_input_method() {

           	    let input_element = document.querySelector("#totp_or_backupcode_Id");
   	   	        let toggle_button = document.querySelector("#toggle_button_Id");

   	            if (input_element.type == "number") {
                    input_element.type = "text";
                   	input_element.name = "user_input_backup_code";

  	           	    toggle_button.textContent = "Enter TOTP instead";
   	    	    } else {
   		            input_element.type = "number";
   	                input_element.name = "user_input_totp";

                    toggle_button.textContent = "Enter Backup Code instead";
   	            }

  	   	    }
       </script>

    </body>

</html>
