<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Success</title>
    </head>

    <body>

        <form action="{% url 'signins:success' %}" method="post">
            {% csrf_token %}

            {% if error_message %}
                </p><strong>{{ error_message }}</strong></p>
            {% endif %}

            <input type="submit" value="Logout">

        </form>

    </body>

</html>
