<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Success</title>
    </head>

    <body>

        <form action="{% url 'signins:success' %}" method="post">
            {% csrf_token %}

            {% if error_message %}
                </p><strong>{{ error_message }}</strong></p>
            {% endif %}

			<input type="submit" name="changePassword" value="Change Password">
			<br><br>

            <input type="submit" name="deleteAccount" value="Delete">
			<br><br>

            <input type="submit" name="logoutUser" value="Logout">
			<br><br>

			{% if 2fa_exists %}
				<input type="submit" name="disable_2fa" value="Disable 2FA">
				<input type="submit" name="change_2fa" value="Change 2FA">
			{% else %}
				<input type="submit" name="enable_2fa" value="Enable 2FA">
				<br><br>
			{% endif %}
        </form>

    </body>

</html>
