<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Success</title>
    </head>

    <body>

        <form action="{% url 'signins:success' %}" method="post">
            {% csrf_token %}

            {% if error_message %}
                </p><strong>{{ error_message }}</strong></p>
            {% endif %}

			<input type="submit" name="changePassword" value="Change Password">

            <input type="submit" name="deleteAccount" value="Delete">
            <input type="submit" name="logoutUser" value="Logout">

			<input type="submit" name="2fa" value="Enable 2FA?">

        </form>

    </body>

</html>
