<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Verify 2fa</title>
    </head>

    <body>

        <form action="{% url 'signins:verify2fa' %}" method="post">
            {% csrf_token %}

			{% if incorrect_totp_message %}
				<p>{{ incorrect_totp_message }}</p>
			{% elif incorrect_backupcode_message %}
				<p>{{ incorrect_backupcode_message }}</p>
			{% endif %}

			{% if not enter_backup_code %}
			<input type="number" id="totp_or_backupcode_Id" name="user_input_totp">
			<br><br>

			<button type="button" onclick="change_input_method()" id="toggle_button_Id">Enter Backup Code instead</button>
			<br><br>

			{% else %}

			<input type="text" id="totp_or_backupcode_Id" name="user_input_backup_code">
			<br><br>

			<button type="button" onclick="change_input_method()" id="toggle_button_Id">Enter TOTP instead</button>
			<br><br>

			{% endif %}

			<input type="submit" name="cancel_verifying_2fa" value="Cancel">
			<br><br>

			<input type="submit" name="verify_2fa" value="Verify">
			<br><br>

        </form>

		<script>
			function change_input_method() {

				let input_element = document.querySelector("#totp_or_backupcode_Id");
				let toggle_button = document.querySelector("#toggle_button_Id");

				if (input_element.type == "number") {
					input_element.type = "text";
					input_element.name = "user_input_backup_code";

					toggle_button.textContent = "Enter TOTP instead";
				} else {
					input_element.type = "number";
					input_element.name = "user_input_totp";

					toggle_button.textContent = "Enter Backup Code instead";
				}

			}
		</script>

    </body>

</html>
